.ruff_cache
.mypy_cache
.pytest_cache
.vscode
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
*.db
*.egg-info
.nfs*
build
slurm*.out
*.db
.nfs*
.coverage
